##
# Example .env file to set environment variable. Create a file .env in root
#		following this example file
#
# May use Mongo String URI format to connect to the database
DATABASE_URI=mongodb://localhost:2271/database

# Port to be listen to
PORT=3000
